<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Doublecheck</title>

  <script src="/bower_components/platform/platform.js"></script>
  <link rel="import" href="/bower_components/core-header-panel/core-header-panel.html">
  <link rel="import" href="/elements/dc-page-index.html">
  <link rel="import" href="/elements/dc-header.html">
  <link rel="import" href="/elements/dc-footer.html">

  <style>
  html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
  }
  core-header-panel {
    height: 100%;
  }
  </style>
</head>
<body unresolved touch-action="auto">

<dc-user-service user_id="{{.UserId}}"></dc-user-service>

<core-header-panel>
  <div class="core-header">
    <dc-header></dc-header>
  </div>
  <div class="content">
    <dc-page-index></dc-page-index>
    <dc-footer></dc-footer>
  </div>
</core-header-panel>

</body>
</html>
